.example-spacer {
  flex: 1 1 auto;
}

.main-container {
  height: calc(100vh - 64px);;
}

.mem {
  background: url("../../../assets/images/mem.jpg") no-repeat fixed center;
  width: 100%;
  height: 90vh;
}
